// Background colors
$bg-light: #fff;
$bg-dark: #000;
$light-grey: #d0d0d0;
$medium-grey: #c5c5c5;
$dark-grey: #1d1d1b;

// Text colors
$text-light: #fff;
$text-grey: #888;
$text-dark: #000;
$text-dark-ish: #393939;

// Other colors
$footer-color: #f1f1f1;
$submit-button-shadow: #4f5052;
$bullet-border: #929292;
$bullet-active: #221f1f;
