// Background colors
$bg-light: #fff;
$bg-dark: #000;
$light-grey: #d0d0d0;
$medium-grey: #c5c5c5;
$dark-grey: #1d1d1b;
$menu-grey: #b1b1b1;

// Text colors
$text-light: #fff;
$text-grey: #888;
$text-dark: #000;
$text-dark-ish: #393939;
$text-menu-grey: #585858;
$text-menu-dark: #292929;
$text-menu-light: #efefef;

// Other colors
$footer-mobile-background: #f1f1f1;
$submit-button-shadow: #4f5052;
$bullet-border: #929292;
$bullet-active: #221f1f;
