@charset "UTF-8";
@font-face {
  font-family: "Rajdhani Light";
  src: url("fonts/rajdhani-light-webfont.eot");
  src: url("fonts/rajdhani-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rajdhani-light-webfont.woff2") format("woff2"), url("fonts/rajdhani-light-webfont.woff") format("woff"), url("fonts/rajdhani-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Rajdhani Regular";
  src: url("fonts/rajdhani-regular-webfont.eot");
  src: url("fonts/rajdhani-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rajdhani-regular-webfont.woff2") format("woff2"), url("fonts/rajdhani-regular-webfont.woff") format("woff"), url("fonts/rajdhani-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Rajdhani Medium";
  src: url("fonts/rajdhani-medium-webfont.eot");
  src: url("fonts/rajdhani-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rajdhani-medium-webfont.woff2") format("woff2"), url("fonts/rajdhani-medium-webfont.woff") format("woff"), url("fonts/rajdhani-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Rajdhani Semibold";
  src: url("fonts/rajdhani-semibold-webfont.eot");
  src: url("fonts/rajdhani-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rajdhani-semibold-webfont.woff2") format("woff2"), url("fonts/rajdhani-semibold-webfont.woff") format("woff"), url("fonts/rajdhani-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Rajdhani Bold";
  src: url("fonts/rajdhani-bold-webfont.eot");
  src: url("fonts/rajdhani-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rajdhani-bold-webfont.woff2") format("woff2"), url("fonts/rajdhani-bold-webfont.woff") format("woff"), url("fonts/rajdhani-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth;
  padding: 0;
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1;
  background: #fff;
  padding: 0;
  margin: 0;
  z-index: 0;
  overflow-x: hidden;
  min-width: 320px; }

* {
  font-family: "Rajdhani Regular", "Verdana", sans-serif;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
.message {
  text-transform: uppercase;
  line-height: 1.1; }

h1,
h2 {
  font-family: "Rajdhani Light"; }

.font-bold {
  font-family: "Rajdhani Bold"; }

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden; }

.container {
  position: relative;
  width: 100%;
  overflow: hidden; }

.main .heading *::selection,
.cart-slideout .cart-product *::selection,
.cart-slideout .cart-footer *::selection,
.menu-slideout .menu-content *::selection,
.subscription-form *::selection,
.messages *::selection {
  background: #000;
  color: #fff;
  padding: 0.5rem 0.1rem; }

.footer .footer-menu *::selection,
.above .page-header *::selection,
.subscription .form-header::selection,
.category .category-link *::selection,
.instagram-gallery .photo-link *::selection,
.customers .customer-link *::selection,
.menu-slideout .menu-header *::selection,
.cart-slideout .cart-header *::selection,
.cart-slideout .cart-footer .primary::selection {
  background: #fff;
  color: #000;
  padding: 0.5rem 0.1rem; }

.clickable {
  cursor: pointer; }

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); }

.above {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem; }
  @media screen and (min-width: 768px) {
    .above {
      margin-bottom: 1.9rem; } }
  @media screen and (min-width: 1281px) {
    .above {
      margin-bottom: 3.2rem; } }

.navigation {
  order: 1;
  height: 5rem;
  background: #000;
  width: 100%;
  transition: all 300ms; }
  .navigation.sticky-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 200; }
    body.sticky-header {
      padding-top: 5rem; }
    @media screen and (min-width: 3.8rem) {
      body.sticky-header {
        padding-top: 3.8rem; } }
    @media screen and (min-width: 4.6rem) {
      body.sticky-header {
        padding-top: 4.6rem; } }
  .navigation .page-header {
    max-width: 1231px;
    margin: 0 auto;
    padding: 1.2rem 0 0 1.3rem;
    height: 3.7rem;
    display: flex;
    justify-content: space-between;
    color: #fff; }
  .navigation .page-title {
    margin: 0;
    margin-top: -0.2rem;
    letter-spacing: -1.5px;
    font-family: "Rajdhani Bold";
    font-size: 3rem; }
  .navigation .menu-icon {
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
  .navigation .user-menu {
    margin-right: 0.8rem;
    min-width: 3.6rem;
    display: flex; }
  .navigation .login {
    display: none; }
  .navigation .cart-icon {
    position: relative;
    margin: 0;
    width: 3.6rem;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
    .navigation .cart-icon .icon {
      position: absolute;
      top: 0;
      left: 0.5rem;
      width: 3rem;
      height: 2.5rem;
      z-index: 0; }
    .navigation .cart-icon .items {
      position: absolute;
      top: 0;
      left: -0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background: #fff;
      color: #000;
      font-size: 1.3rem;
      font-family: "Rajdhani Medium";
      text-align: center;
      border-radius: 50%;
      width: 1.9rem;
      height: 1.9rem;
      z-index: 100; }
  @media screen and (min-width: 768px) {
    .navigation {
      order: 3;
      height: 3.8rem; }
      .navigation .page-header {
        padding: 0.5rem 0 0.7rem 1.2rem;
        position: relative;
        text-align: center; }
      .navigation .page-title {
        margin-left: 4rem;
        margin-right: 5.4rem;
        margin-top: -0.3rem;
        width: 100%; }
      .navigation .menu-icon {
        position: absolute; }
      .navigation .user-menu {
        margin-right: 1.2rem;
        position: absolute;
        right: 0;
        top: 0.5rem; }
      .navigation .login {
        display: block;
        color: white;
        text-transform: uppercase;
        font-size: 2.2rem;
        font-family: "Rajdhani Medium";
        letter-spacing: 1px;
        margin-top: 0.2rem; }
      .navigation .cart-icon {
        margin-left: 2rem; } }
  @media screen and (min-width: 1281px) {
    .navigation {
      height: 4.6rem; }
      .navigation .page-header {
        padding: 0;
        padding-top: 1.1rem; }
      .navigation .menu-icon {
        margin-top: -0.2rem;
        width: 3rem;
        height: 3rem; }
      .navigation .page-title {
        margin-left: 16rem;
        margin-right: 16rem; }
      .navigation .user-menu {
        margin-right: -0.9rem;
        top: 0.7rem; }
      .navigation .login {
        font-size: 2.6rem;
        letter-spacing: 1.5px;
        margin-top: 0.3rem; }
      .navigation .cart-icon {
        width: 4.6rem;
        margin-left: 2.8rem; }
        .navigation .cart-icon .icon {
          width: 3.5rem;
          height: 2.9rem; }
        .navigation .cart-icon .items {
          font-size: 1.6rem;
          padding-top: 0;
          width: 2.3rem;
          height: 2.3rem;
          top: -0.1rem;
          left: -0.3rem; } }

.messages {
  order: 2;
  width: 100%;
  background: #d0d0d0;
  height: 2rem; }
  .messages .messages-wrapper {
    max-width: 1231px;
    margin: 0 auto;
    position: relative; }
  .messages .message {
    font-family: "Rajdhani Medium";
    color: #fff;
    text-align: center;
    padding: 0.3rem 0;
    letter-spacing: 0.4px;
    width: 100%;
    font-size: 1.4rem; }
  .messages .three-dots {
    display: none; }
  .messages .bullet {
    margin: 0 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    border: 0.5px solid #000;
    background: #d0d0d0;
    border-radius: 50%; }
    .messages .bullet.active {
      background: #221f1f; }
  @media screen and (min-width: 768px) {
    .messages {
      order: 1;
      height: 1.4rem; }
      .messages .message {
        margin-top: -0.3rem;
        margin-left: -0.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.5px; }
        .messages .message .font-bold {
          font-size: 1.3rem; } }
  @media screen and (min-width: 1281px) {
    .messages {
      height: 1.6rem;
      background: #c5c5c5; }
      .messages .message {
        margin-top: -0.1rem;
        letter-spacing: 1.2px; }
      .messages .three-dots {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.4rem 0;
        margin-right: -0.2rem;
        padding: 0;
        list-style-type: none; } }

.hero {
  order: 3; }
  .hero .promotions-slider {
    height: 19.5rem;
    overflow: hidden; }
    .hero .promotions-slider .promo {
      display: none;
      position: relative;
      height: 19.5rem; }
      .hero .promotions-slider .promo:first-child {
        display: block; }
  .hero .promo-link {
    display: block;
    width: 100%;
    height: 100%; }
  .hero .promo-wrapper,
  .hero .bullets {
    position: absolute;
    background: none; }
  .hero .promo-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    left: 25%;
    margin-left: -6.7rem; }
    .hero .promo-wrapper .promo-title,
    .hero .promo-wrapper .promo-subhead {
      color: #000;
      margin: 0;
      padding: 0;
      line-height: 1; }
    .hero .promo-wrapper .promo-caption {
      margin-bottom: 1.4rem; }
    .hero .promo-wrapper .promo-title {
      border-bottom: 1px solid #000;
      margin-bottom: 0.4rem;
      padding-bottom: 0.3rem;
      font-size: 1.4rem;
      letter-spacing: 0.4px; }
    .hero .promo-wrapper .promo-subhead {
      font-family: "Courier New", monospace;
      letter-spacing: 0.5px;
      font-size: 1.1rem;
      margin-bottom: 1.6rem; }
    .hero .promo-wrapper .call-to-action {
      display: inline;
      padding: 0.2rem 0.8rem;
      margin-right: 0.5rem;
      font-family: "Rajdhani Medium";
      font-size: 1.6rem;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      border: 2px solid #000; }
  .hero .bullets {
    padding: 0;
    margin: 0;
    bottom: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    z-index: 10; }
  .hero .bullet {
    display: none;
    margin: 0 0.1rem;
    width: 1.1rem;
    height: 1.1rem;
    border: 0.5px solid #929292;
    background: #fff;
    border-radius: 50%; }
    .hero .bullet.active {
      background: #221f1f; }
  .hero .cover {
    width: 100%;
    height: 100%;
    background-image: url("img/hero-cover-01.jpg");
    background-size: cover;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: 30% 70%; }
  @media screen and (min-width: 768px) {
    .hero {
      order: 2; }
      .hero .promotions-slider {
        height: 45.8rem; }
        .hero .promotions-slider .promo {
          height: 45.8rem; }
      .hero .promo-wrapper {
        top: 18rem;
        top: 17.5rem;
        left: 4.8rem;
        left: 15%;
        margin-left: -6.6rem;
        justify-content: normal;
        height: auto;
        width: 20.5rem; }
        .hero .promo-wrapper .promo-title {
          font-size: 2.3rem;
          padding-bottom: 0.4rem;
          margin-bottom: 0.6rem; }
        .hero .promo-wrapper .promo-subhead {
          font-size: 1.5rem;
          margin-bottom: 3rem; }
        .hero .promo-wrapper .call-to-action {
          margin-left: -1rem; }
      .hero .promo-caption {
        margin-bottom: 0; }
      .hero .bullets {
        bottom: 1.8rem;
        margin-right: 1rem; }
      .hero .bullet {
        border: 0px solid #fff;
        margin: 0 0.2rem 0 0.3rem; }
      .hero .cover {
        background-position: 51.8% 0%;
        background-size: 137.9%; } }
  @media screen and (min-width: 1281px) {
    .hero .promotions-slider {
      height: 70.6rem; }
      .hero .promotions-slider .promo {
        height: 70.6rem; }
    .hero .promo-wrapper {
      top: 27.1rem;
      left: 23.6rem;
      margin-left: 0;
      width: 31.5rem;
      line-height: 1.6; }
      .hero .promo-wrapper .promo-title {
        font-size: 3.5rem;
        margin-bottom: 0.9rem;
        padding-bottom: 0.7rem;
        border-bottom: 2px solid #000;
        letter-spacing: 1px; }
      .hero .promo-wrapper .promo-subhead {
        font-size: 2.3rem;
        letter-spacing: 1px;
        margin-bottom: 3.8rem; }
      .hero .promo-wrapper .call-to-action {
        font-size: 2.5rem;
        padding: 0.4rem 1.3rem;
        margin-left: -1.6rem; }
    .hero .bullets {
      margin-right: 0;
      bottom: 2.6rem; }
    .hero .bullet {
      height: 1.7rem;
      width: 1.7rem;
      margin: 0 0.4rem 0 0.3rem; }
    .hero .cover {
      background-position: 50% 50%;
      background-size: cover; } }

.main {
  width: 100%;
  max-width: 1231px;
  margin: 0 auto; }
  .main .heading {
    padding-top: 0.4rem;
    padding-left: 1.3rem;
    margin-right: 1.3rem;
    text-align: center; }
    .main .heading h2,
    .main .heading h3 {
      font-size: 1.7rem;
      letter-spacing: 1px;
      color: #393939;
      position: relative;
      display: inline; }
      .main .heading h2::before, .main .heading h2::after,
      .main .heading h3::before,
      .main .heading h3::after {
        content: '';
        display: block;
        position: absolute;
        top: 0.5rem;
        width: 4.2rem;
        height: 0.7rem;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none; }
      .main .heading h2::before,
      .main .heading h3::before {
        left: -5.2rem;
        background-image: url("img/arrow-left.svg"); }
      .main .heading h2::after,
      .main .heading h3::after {
        right: -5.2rem;
        background-image: url("img/arrow-right.svg"); }
  @media screen and (min-width: 768px) {
    .main .heading {
      margin-bottom: 1.5rem; }
      .main .heading h2 {
        font-size: 2rem;
        letter-spacing: 0.3px;
        margin-left: -1rem; }
        .main .heading h2::before, .main .heading h2::after {
          top: 0.4rem;
          width: 5.7rem;
          height: 1.1rem; }
        .main .heading h2::before {
          left: -7.7rem; }
        .main .heading h2::after {
          right: -7.3rem; } }
  @media screen and (min-width: 1281px) {
    .main .heading {
      margin-bottom: 1.9rem; }
      .main .heading h2,
      .main .heading h3 {
        font-size: 2.4rem;
        margin-left: -0.5rem; }
        .main .heading h2::before, .main .heading h2::after,
        .main .heading h3::before,
        .main .heading h3::after {
          top: 0.5rem;
          width: 6.8rem;
          height: 1.2rem; }
        .main .heading h2::before,
        .main .heading h3::before {
          left: -9.2rem; }
        .main .heading h2::after,
        .main .heading h3::after {
          right: -8.8rem; } }

.products {
  width: 100%;
  margin-bottom: 4.6rem;
  line-height: 1.5; }
  .products .heading {
    margin-bottom: 1.2rem; }
  .products .products-slider {
    padding-left: 0.6rem;
    width: 100%;
    display: flex;
    margin-left: -26.4rem; }
  .products .product {
    transition: opacity 300ms;
    margin-right: 0.7rem;
    margin-left: 0.6rem;
    min-width: 15.5rem; }
    .products .product.discount .product-image::before {
      content: '';
      top: 0;
      left: -0.6rem;
      display: block;
      position: absolute;
      width: 5.5rem;
      height: 7.7rem;
      background-image: url("img/ribbon.png"); }
    .products .product.discount .product-image::after {
      content: '20%';
      display: block;
      position: absolute;
      top: 1.9rem;
      left: 0;
      font-family: "Rajdhani Bold";
      letter-spacing: 1px;
      font-size: 1.7rem;
      color: #fff;
      transform: rotate(-45deg); }
  .products .product-image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    padding-left: 0.5rem;
    margin-left: -0.5rem; }
  .products .product-image {
    position: relative;
    width: 100%;
    height: 27.7rem;
    padding-top: 1.4rem; }
    .products .product-image .image {
      height: 27.7rem;
      width: auto; }
  .products .buy {
    display: none; }
  .products .price {
    text-align: center;
    padding-top: 0.4rem; }
    .products .price p {
      padding: 0 1.3rem;
      margin-top: 0;
      margin-bottom: 0; }
    .products .price .old-price {
      font-size: 1.5rem;
      color: #888;
      text-decoration: line-through;
      height: 1.8rem; }
    .products .price .new-price {
      margin-top: -0.2rem;
      font-size: 1.7rem;
      color: #000;
      text-decoration: none;
      font-family: "Rajdhani Semibold"; }
  @media screen and (min-width: 768px) {
    .products {
      margin-bottom: 1.8rem; }
      .products .heading {
        margin-bottom: 0.4rem; }
      .products .product {
        margin-right: 0.6rem; }
      .products .buy {
        display: block;
        opacity: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-family: 'Rajdhani Semibold';
        font-size: 1.6rem;
        line-height: 1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        max-height: 2rem;
        padding: 1rem 0 0.8rem 0;
        margin: 0;
        background: rgba(0, 0, 0, 0.66);
        z-index: 1;
        transition: all 300ms;
        transform: translateY(100%); }
      .products .product-link:hover .buy {
        opacity: 1;
        transform: translateY(0); } }
  @media screen and (min-width: 1281px) {
    .products {
      margin-bottom: 6.4rem; }
      .products .heading {
        margin-bottom: 0.9rem; }
      .products .products-slider {
        padding-left: 1.5rem;
        margin-left: 0; }
      .products .product {
        min-width: 18.5rem;
        margin-right: 0.8rem;
        margin-left: 0.7rem; }
        .products .product.discount .product-image::before, .products .product.discount .product-image::after {
          display: none; }
      .products .product-image,
      .products .product-image .image {
        height: 33rem; }
      .products .price p {
        padding-top: 0.4rem; }
      .products .price .old-price {
        text-decoration: none;
        font-size: 1.4rem;
        margin-left: -0.8rem; }
      .products .price .new-price {
        display: none; } }

.categories {
  margin-bottom: 2rem;
  padding-top: 6.4rem;
  text-align: center; }
  .categories:before {
    margin: auto;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    width: 12.9rem;
    height: 3rem;
    background-image: url("img/header-figure.svg"); }
  .categories .categories-grid {
    display: grid;
    column-gap: 1.3rem;
    row-gap: 1.2rem;
    padding-left: 1.3rem;
    margin-right: 1.4rem; }
  .categories .category {
    margin: 0;
    padding: 0;
    position: relative; }
    .categories .category:last-child {
      margin-bottom: 0; }
  .categories .category-link,
  .categories .category {
    display: flex;
    width: 100%; }
  .categories .category-link:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
    transition: background 300ms;
    z-index: 2; }
  .categories .category-link:hover:before {
    background: rgba(0, 0, 0, 0.6); }
  .categories .category-image {
    width: 100%;
    object-fit: cover; }
  .categories .category-label {
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding-bottom: 0.7rem;
    font-family: "Rajdhani Semibold";
    font-size: 2rem;
    letter-spacing: 2.5px;
    color: #fff;
    text-shadow: 0 3px 1px #000;
    position: absolute; }
  @media screen and (min-width: 768px) {
    .categories {
      padding-top: 5.9rem;
      display: grid;
      margin-bottom: 3rem; }
      .categories .categories-grid {
        grid-template: repeat(3, 26.4rem)/36.2% 10.2% 12.2% 1fr;
        column-gap: 1.8rem;
        row-gap: 1.6rem;
        padding-left: 1.8rem;
        margin-right: 1.8rem; }
      .categories .category:nth-child(1) {
        grid-column: 1 / 3; }
      .categories .category:nth-child(2) {
        grid-column: 3 / 5; }
      .categories .category:nth-child(3) {
        grid-column: 1 / 4; }
      .categories .category:nth-child(4) {
        grid-column: 4 / 5; }
      .categories .category:nth-child(5) {
        grid-column: 1 / 2; }
      .categories .category:nth-child(6) {
        grid-column: 2 / 5; }
      .categories .category-label {
        letter-spacing: 4px;
        padding-bottom: 0; } }
  @media screen and (min-width: 1281px) {
    .categories {
      padding-top: 7.4rem;
      margin-bottom: 6.8rem; }
      .categories:before {
        width: 15.9rem;
        height: 3.6rem; }
      .categories .categories-grid {
        grid-template: repeat(3, 44.6rem)/44.6rem 12.8rem 15.4rem 41.9rem;
        column-gap: 2.8rem;
        row-gap: 2.7rem;
        padding-left: 0;
        margin-right: 0; }
      .categories .category-label {
        font-size: 3.4rem;
        letter-spacing: 5.4px; } }

.instagram-gallery {
  margin-bottom: 2.4rem; }
  .instagram-gallery .heading {
    margin-bottom: 2.9rem; }
  .instagram-gallery .photos-slider {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 0.6rem; }
  .instagram-gallery .photo {
    position: relative;
    width: 13.3rem;
    height: 13.3rem;
    padding-left: 0.7rem;
    margin-right: 0.7rem;
    transition: opacity 300ms; }
  .instagram-gallery .likes {
    display: none; }
  .instagram-gallery .insta-image {
    width: 100%;
    z-index: 1; }
  @media screen and (min-width: 768px) {
    .instagram-gallery {
      margin-bottom: 1.9rem; }
      .instagram-gallery .heading {
        margin-left: -0.5rem;
        margin-bottom: 2.1rem; }
      .instagram-gallery .photos-slider {
        width: 100%; }
      .instagram-gallery .photo-link {
        position: relative;
        display: flex; }
        .instagram-gallery .photo-link:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background: rgba(0, 0, 0, 0);
          transition: background 300ms;
          z-index: 2; }
        .instagram-gallery .photo-link:hover:before {
          background: rgba(0, 0, 0, 0.66); }
      .instagram-gallery .photo {
        width: 13.5rem;
        height: 13.5rem;
        padding-left: 1.2rem;
        margin-right: 0.2rem; }
      .instagram-gallery .likes {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        z-index: 10;
        transition: opacity 300ms; }
        .instagram-gallery .likes .likes-count {
          font-family: "Rajdhani Semibold";
          letter-spacing: 0.5px;
          color: #fff;
          font-size: 1.8rem;
          margin-right: 1rem; }
        .instagram-gallery .likes .like-icon {
          width: 2.6rem;
          height: auto;
          margin-bottom: 0.8rem;
          margin-left: -0.6rem;
          margin-top: -0.2rem; }
      .instagram-gallery .photo-link:hover .likes {
        opacity: 1; } }
  @media screen and (min-width: 1281px) {
    .instagram-gallery {
      margin-bottom: 4.7rem; }
      .instagram-gallery .heading {
        margin-left: 0.2rem;
        margin-bottom: 4rem; }
        .instagram-gallery .heading h3 {
          letter-spacing: 0.6px; }
      .instagram-gallery .photos-slider {
        justify-content: center;
        padding-left: 0; }
      .instagram-gallery .photo {
        width: 22.6rem;
        height: 22.6rem;
        padding-left: 0;
        margin-right: 2.5rem; }
        .instagram-gallery .photo:last-child {
          margin-right: 0; }
      .instagram-gallery .likes .likes-count {
        font-size: 2.4rem;
        letter-spacing: 1px; }
      .instagram-gallery .likes .like-icon {
        width: 3.4rem;
        height: auto;
        margin-bottom: 1.7rem;
        margin-left: -1.1rem;
        margin-top: -1.2rem; } }

.customers {
  margin-bottom: 2.5rem; }
  .customers .heading {
    margin-bottom: 1.8rem; }
  .customers .customers-slider {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 0.5rem; }
  .customers .customer {
    position: relative;
    width: 17rem;
    height: 17rem;
    padding-left: 0.8rem;
    margin-right: 0.9rem; }
  .customers .customer-image {
    width: 100%; }
  .customers .customer-overlay {
    display: none; }
  @media screen and (min-width: 768px) {
    .customers {
      margin-bottom: 0.8rem; }
      .customers .heading {
        margin-left: -0.5rem;
        margin-bottom: 2.1rem; }
      .customers .customers-slider {
        width: 100%;
        justify-content: center; }
      .customers .customer {
        flex-grow: 1;
        min-width: 17rem;
        min-height: 17rem;
        width: 100%;
        height: auto;
        max-width: 28.5rem;
        max-height: 28.5rem;
        padding-left: 1.3rem;
        margin-right: 0.4rem; }
        .customers .customer:last-child {
          margin-right: 2.4rem; }
      .customers .customer-link {
        display: flex;
        width: 100%;
        position: relative; }
        .customers .customer-link:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background: rgba(0, 0, 0, 0);
          transition: background 300ms;
          z-index: 2; }
        .customers .customer-link:hover:before {
          background: rgba(0, 0, 0, 0.66); }
      .customers .customer-overlay {
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        align-items: center;
        transition: opacity 300ms;
        z-index: 10;
        font-family: "Rajdhani Semibold";
        letter-spacing: 0.5px;
        color: #fff;
        font-size: 1.8rem; }
      .customers .customer-link:hover .customer-overlay {
        opacity: 1; } }
  @media screen and (min-width: 1281px) {
    .customers {
      margin-bottom: 4rem; }
      .customers .heading {
        margin-left: 0.3rem;
        margin-bottom: 3.8rem; }
      .customers .customers-slider {
        padding-left: 0;
        justify-content: space-between; }
      .customers .customer {
        width: 28.5rem;
        height: 28.5rem;
        padding-left: 0;
        margin-right: 0; }
        .customers .customer:last-child {
          margin-right: 0; }
      .customers .customer-overlay {
        font-size: 2.4rem; } }

.subscription {
  text-align: center;
  padding: 3.2rem 1.3rem;
  padding-bottom: 0;
  max-width: 1231px;
  margin: 0 auto;
  margin-bottom: 4.4rem; }
  .subscription .subscription-form {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .subscription .form-header,
  .subscription .form-field,
  .subscription .form-button {
    text-align: center;
    margin: 0;
    margin-right: 2.6rem;
    margin-bottom: 0.6rem;
    padding: 0.5rem 1.3rem;
    font-size: 1.9rem;
    letter-spacing: 1.7px;
    text-transform: uppercase; }
  .subscription .form-header {
    background: #000;
    color: #fff;
    position: relative;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem; }
  .subscription .form-field {
    color: #393939;
    border: 2px solid #d0d0d0;
    height: 2.7rem;
    border-radius: 0;
    transition: all 300ms; }
    .subscription .form-field:hover, .subscription .form-field:focus {
      border-radius: 0;
      border-color: #909090;
      outline: none; }
  .subscription .form-button {
    color: #fff;
    background: #d0d0d0;
    height: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    border: none;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 300ms; }
    .subscription .form-button:hover {
      background: #dddddd; }
  @media screen and (min-width: 768px) {
    .subscription {
      padding: 3.2rem 1.8rem 0 1.8rem;
      margin-bottom: 3.6rem;
      width: auto; }
      .subscription .subscription-form {
        flex-direction: row;
        justify-content: space-between; }
      .subscription .form-header,
      .subscription .form-field,
      .subscription .form-button {
        padding: 0;
        font-size: 1.4rem;
        margin-bottom: 0;
        letter-spacing: 1.3px; }
      .subscription .form-header {
        padding-top: 0.9rem;
        margin-right: 1.6rem;
        text-align: left;
        line-height: 1;
        padding-left: 2rem;
        height: 2.3rem;
        min-width: 10.3rem;
        width: 10.3rem; }
        .subscription .form-header::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          width: 0;
          height: 0;
          top: 0;
          border-left: 1rem solid black;
          border-top: 1.6rem solid transparent;
          border-bottom: 1.6rem solid transparent;
          border-right: 0 solid transparent;
          pointer-events: none; }
      .subscription .form-field {
        min-width: 22rem;
        height: 2.8rem;
        width: 50%;
        margin-right: 0.4rem; }
      .subscription .form-button {
        color: #393939;
        height: 3rem;
        min-width: 12.8rem;
        width: 12.8rem;
        margin-right: 0.4rem;
        margin-left: 0.4rem;
        box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.75); } }
  @media screen and (min-width: 1281px) {
    .subscription {
      margin-bottom: 5.3rem; }
      .subscription .form-header,
      .subscription .form-field,
      .subscription .form-button {
        font-size: 1.9rem; }
      .subscription .form-header {
        letter-spacing: 3.6px;
        padding-top: 1.8rem;
        padding-left: 3.8rem;
        margin-right: 2.5rem;
        height: 3.5rem;
        min-width: 17.2rem;
        width: 17.2rem; }
        .subscription .form-header::after {
          border-left: 1.5rem solid black;
          border-top: 2.6rem solid transparent;
          border-bottom: 2.6rem solid transparent;
          border-right: 0 solid transparent;
          pointer-events: none; }
      .subscription .form-field {
        min-width: 22rem;
        height: 4.8rem;
        width: 50%;
        margin-right: 0.6rem;
        padding-top: 0.1rem;
        letter-spacing: 1px; }
      .subscription .form-button {
        font-family: "Rajdhani Semibold";
        height: 5rem;
        min-width: 21.5rem;
        width: 21.5rem;
        margin-right: 0;
        margin-left: 0.8rem;
        padding-left: 2.2rem;
        padding-top: 0.4rem;
        letter-spacing: 4px;
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.75); } }

.footer-menu {
  background: #f1f1f1;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 0.2rem; }
  .footer-menu .footer-nav {
    max-width: 1231px;
    margin: 0 auto;
    display: none; }
  .footer-menu .footer-logo {
    width: 7.9rem;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
  @media screen and (min-width: 768px) {
    .footer-menu {
      background: #000;
      height: 3.6rem;
      padding-top: 0; }
      .footer-menu .footer-nav {
        display: flex;
        width: 100%;
        padding-left: 1.8rem;
        justify-content: space-between; }
      .footer-menu .footer-links,
      .footer-menu .footer-social {
        display: flex;
        list-style: none; }
        .footer-menu .footer-links a,
        .footer-menu .footer-social a {
          color: #fff; }
      .footer-menu .footer-links {
        text-transform: uppercase;
        letter-spacing: 0.9px;
        justify-content: space-between;
        font-size: 1.4rem;
        margin: auto 0;
        padding: 0; }
        .footer-menu .footer-links li {
          margin-right: 2.6rem; }
      .footer-menu .footer-social {
        margin: auto;
        margin-right: 2.2rem;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none; }
        .footer-menu .footer-social li {
          height: 2rem;
          width: 2rem;
          padding-left: 0.5rem; }
      .footer-menu .footer-logo {
        display: none; } }
  @media screen and (min-width: 1281px) {
    .footer-menu .footer-nav {
      padding-left: 0.8rem; }
    .footer-menu .footer-links {
      font-size: 1.5rem;
      letter-spacing: 1px; }
      .footer-menu .footer-links li {
        margin-right: 4.1rem;
        margin-top: -0.2rem; }
    .footer-menu .footer-social {
      margin-right: 0.2rem;
      margin-top: 0.2rem; }
      .footer-menu .footer-social li {
        height: 2.8rem;
        width: 2.8rem;
        padding-left: 0.9rem; } }

.hero .slick-slider.promotions-slider .promo {
  display: block; }

.products .slick-slider.products-slider {
  padding-left: 0;
  margin-left: 0; }
  .products .slick-slider.products-slider .product:not(.slick-current) {
    opacity: 0.5; }

.instagram-gallery .slick-slider.photos-slider {
  padding-left: 0; }
  .instagram-gallery .slick-slider.photos-slider .photo:not(.slick-current) {
    opacity: 0.5; }

.customers .slick-slider.customers-slider {
  padding-left: 0; }
  .customers .slick-slider.customers-slider .customer:not(.slick-current) {
    opacity: 0.5; }

.hero .slick-slider.promotions-slider,
.products .slick-slider.products-slider,
.instagram-gallery .slick-slider.photos-slider,
.customers .slick-slider.customers-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .hero .slick-slider.promotions-slider .slick-track,
  .hero .slick-slider.promotions-slider .slick-list,
  .products .slick-slider.products-slider .slick-track,
  .products .slick-slider.products-slider .slick-list,
  .instagram-gallery .slick-slider.photos-slider .slick-track,
  .instagram-gallery .slick-slider.photos-slider .slick-list,
  .customers .slick-slider.customers-slider .slick-track,
  .customers .slick-slider.customers-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

@media screen and (min-width: 768px) {
  .products .slick-slider.products-slider .product:not(.slick-current) {
    opacity: 1; }
  .instagram-gallery .slick-slider.photos-slider .photo:not(.slick-current) {
    opacity: 1; }
  .customers .slick-slider.customers-slider .customer:not(.slick-current) {
    opacity: 1; } }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: '';
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }
  @media screen and (min-width: 768px) {
    .products .slick-track {
      left: 5.2rem; }
    .photos-slider .slick-track {
      left: 0.6rem; } }
  @media screen and (min-width: 1001px) {
    .products .slick-track {
      display: flex;
      justify-content: center;
      left: 0; } }
  @media screen and (min-width: 1281px) {
    .products .slick-track {
      left: 0; } }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.bullets {
  position: absolute;
  bottom: -1rem;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .bullets li {
    position: relative;
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    margin: 0 0.2rem;
    padding: 0;
    cursor: pointer; }
    .bullets li button {
      border: 0.5px solid #929292;
      background: #fff;
      display: block;
      width: 1.1rem;
      height: 1.1rem;
      outline: none;
      border-radius: 50%;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .bullets li button:hover, .bullets li button:focus {
        outline: none; }
      .bullets li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 1.1rem;
        height: 1.1rem;
        font-family: "Rajdhani Regular";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .bullets li.slick-active button {
      background: #221f1f; }
      .bullets li.slick-active button:before {
        color: #221f1f; }
  @media screen and (min-width: 768px) {
    .bullets {
      bottom: 1.8rem;
      left: -0.5rem; }
      .bullets li {
        margin: 0 0.2rem 0 0.3rem; }
        .bullets li button {
          border: 0px solid #fff; } }
  @media screen and (min-width: 1281px) {
    .bullets {
      bottom: 2.6rem;
      left: 0; }
      .bullets li {
        height: 1.7rem;
        width: 1.7rem;
        margin: 0 0.4rem 0 0.3rem; }
        .bullets li button {
          height: 1.7rem;
          width: 1.7rem; } }

.products .product-arrows {
  position: absolute;
  display: none;
  width: 100%;
  height: 32rem;
  bottom: 0;
  pointer-events: none; }

@media screen and (min-width: 1001px) {
  .products .product-arrows {
    display: block; } }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 100%;
  width: 4rem;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  color: transparent;
  top: 0;
  padding: 0;
  border: none;
  outline: none;
  z-index: 100;
  transition: background 300ms; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    color: transparent;
    box-shadow: none; }
  .slick-prev:after,
  .slick-next:after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 1.7rem;
    height: 1.7rem;
    top: 14.3rem;
    border-radius: 3px 1px; }

.slick-prev {
  left: 0; }
  .slick-prev:after {
    box-shadow: -3px 3px #000;
    left: 1.8rem; }
  .slick-prev:disabled:after {
    box-shadow: -3px 3px #aaaaaa;
    opacity: 0.5; }

.slick-next {
  right: 0; }
  .slick-next:after {
    box-shadow: 3px -3px #000;
    right: 1.8rem; }
  .slick-next:disabled:after {
    box-shadow: 3px -3px #aaaaaa;
    opacity: 0.5; }

@media screen and (min-width: 1001px) {
  .slick-prev:after,
  .slick-next:after {
    top: 12.8rem; }
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 1.2rem; } }

@media screen and (min-width: 1281px) {
  .slick-prev,
  .slick-next {
    top: -0.4rem; }
    .slick-prev:after,
    .slick-next:after {
      width: 1.5rem;
      height: 1.5rem; }
  .slick-prev {
    left: -1.1rem; }
  .slick-next {
    right: -1.1rem; } }

.sidenav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none; }
  .sidenav.open {
    opacity: 1;
    pointer-events: auto; }
  .sidenav .sidenav-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fff;
    text-transform: uppercase; }
  .sidenav .sidenav-header {
    background: #000;
    color: #fff;
    position: relative;
    height: 5rem;
    padding-left: 1.3rem;
    transition: height 300ms; }
  .sidenav .sidenav-title {
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem 0;
    letter-spacing: 0.6px;
    font-family: "Rajdhani Medium"; }
  .sidenav .sidenav-content {
    position: relative;
    background: #fff;
    height: 100%; }
  .sidenav .sidenav-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0; }
  @media screen and (min-width: 768px) {
    .sidenav {
      position: absolute;
      top: 47.2rem;
      height: 66rem; }
      .sidenav .sidenav-wrapper {
        width: 27.8rem;
        height: auto; }
      .sidenav .sidenav-header {
        height: 3.8rem; }
      .sidenav .sidenav-title {
        font-size: 1.7rem;
        padding: 1rem 0;
        letter-spacing: 1.5px;
        font-family: "Rajdhani Light"; }
      .sidenav .sidenav-footer {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto; } }
  @media screen and (min-width: 1281px) {
    .sidenav {
      top: 72.2rem; }
      .sidenav .sidenav-wrapper {
        width: 44rem;
        max-height: 65.8rem; }
      .sidenav .sidenav-header {
        height: 4.6rem; }
      .sidenav .sidenav-title {
        font-size: 2rem;
        padding: 1.3rem 0; }
      .sidenav .sidenav-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between; } }

.menu-slideout.open .menu-wrapper {
  transform: translateX(0); }

.menu-slideout .menu-wrapper {
  transition: all 600ms ease-in-out;
  transform: translateX(-100%);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000; }

.menu-slideout .menu-search-bar, .menu-slideout .menu-catalog {
  padding-left: 1.3rem; }

.menu-slideout .menu-header .close {
  display: block;
  position: absolute;
  top: -0.2rem;
  right: 0.5rem;
  border: none;
  background: none;
  font-size: 5.2rem;
  color: #fff;
  opacity: 1;
  transition: opacity 300ms;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.menu-slideout .menu-title {
  padding-left: 1.5rem; }

.menu-slideout .menu-search-bar {
  height: 4.8rem;
  background: #b1b1b1; }
  .menu-slideout .menu-search-bar .search {
    padding: 0.6rem;
    margin-right: 0.6rem;
    display: flex;
    justify-content: space-between; }
  .menu-slideout .menu-search-bar .search-field {
    border: none;
    height: 2.8rem;
    width: 100%;
    margin-right: 0.6rem;
    padding: 0.3rem 1.2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #585858;
    letter-spacing: 0.4px; }
  .menu-slideout .menu-search-bar .search-submit {
    border: none;
    background: #000;
    height: 3.4rem;
    min-width: 3.8rem;
    width: 3.8rem;
    background-image: url("img/icon-search.svg");
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    box-shadow: inset 5rem 5rem rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all 300ms;
    position: relative; }
    .menu-slideout .menu-search-bar .search-submit:hover {
      box-shadow: inset 5rem 5rem rgba(255, 255, 255, 0.2); }

.menu-slideout .menu-catalog, .menu-slideout .menu-submenu, .menu-slideout .menu-social {
  list-style-type: none;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

.menu-slideout .menu-category > .menu-link, .menu-slideout .menu-subcategory > .menu-link {
  font-family: "Rajdhani Medium";
  display: block;
  letter-spacing: 0.3px;
  position: relative; }
  .menu-slideout .menu-category > .menu-link:after, .menu-slideout .menu-subcategory > .menu-link:after {
    display: block;
    position: absolute; }

.menu-slideout .menu-category > .menu-link {
  padding: 1rem;
  padding-left: 2.6rem;
  height: 2.2rem;
  background: #fff;
  color: #292929;
  border-bottom: 1px solid #b1b1b1; }
  .menu-slideout .menu-category > .menu-link:after {
    content: '+';
    right: 2.8rem;
    top: 0.1rem;
    width: 1rem;
    height: 1rem;
    font-size: 2.8rem; }

.menu-slideout .menu-category .menu-submenu {
  transition: opacity 500ms;
  opacity: 0; }

.menu-slideout .menu-category.open .menu-submenu {
  opacity: 1; }

.menu-slideout .menu-category.open .menu-subcategory > .menu-link {
  padding: 0.6rem 1rem 1.1rem 3.4rem;
  height: 2rem;
  font-size: 1.8rem;
  border-bottom: 1px solid #fff; }
  .menu-slideout .menu-category.open .menu-subcategory > .menu-link:after {
    content: ''; }

.menu-slideout .menu-category.open .menu-subcategory:last-child > .menu-link {
  border-bottom: 1px solid #b1b1b1; }

.menu-slideout .menu-category.open > .menu-link:after {
  content: '–';
  right: 2.7rem; }

.menu-slideout .menu-subcategory > .menu-link {
  background: #000;
  color: #efefef;
  border: none;
  font-size: 0;
  padding: 0;
  height: 0;
  transition: all ease 300ms; }
  .menu-slideout .menu-subcategory > .menu-link:after {
    top: 1.5rem;
    right: 2rem;
    height: 0.8rem;
    width: 0.8rem;
    border-right: 0.2rem solid #efefef;
    border-top: 0.2rem solid #efefef;
    transform: rotate(45deg); }

.menu-slideout .menu-footer {
  background: #fff;
  width: 100%;
  display: flex;
  box-shadow: 0 -1px #b1b1b1;
  justify-content: flex-end;
  align-items: center; }

.menu-slideout .menu-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-right: 1.3rem;
  height: 3.4rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .menu-slideout .menu-social li {
    height: 2.5rem;
    width: 2.5rem;
    padding-left: 0.7rem; }
  .menu-slideout .menu-social a {
    color: #fff; }

@media screen and (min-width: 768px) {
  .menu-slideout .menu-wrapper {
    left: 0;
    right: auto; }
  .menu-slideout .menu-header .close {
    opacity: 0;
    top: -1.3rem;
    right: -0.4rem;
    font-size: 7rem; }
  .menu-slideout .menu-title {
    padding-left: 1.4rem; }
  .menu-slideout .menu-footer {
    height: 4.6rem;
    min-height: 4.6rem; }
  .menu-slideout .menu-social {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin-right: 1.5rem; } }

@media screen and (min-width: 1281px) {
  .menu-slideout .menu-wrapper {
    margin-left: -200rem;
    padding-left: 200rem; }
  .menu-slideout .menu-header {
    margin-left: -200rem;
    padding-left: 201.3rem; }
    .menu-slideout .menu-header .close {
      opacity: 1;
      top: 0;
      right: -0.4rem;
      font-size: 7rem;
      line-height: 4.6rem;
      max-height: 4.6rem; }
  .menu-slideout .menu-title {
    padding-left: 1.8rem; }
  .menu-slideout .menu-content {
    margin-left: -200rem;
    padding-left: 200rem;
    max-height: 61.2rem;
    height: 61.2rem;
    overflow-y: auto; }
  .menu-slideout .menu-search-bar {
    height: 6rem;
    margin-left: -200rem;
    padding-left: 201.3rem; }
    .menu-slideout .menu-search-bar .search {
      padding-top: 0.8rem;
      margin-right: 0.3rem; }
    .menu-slideout .menu-search-bar .search-field {
      height: 3.4rem;
      margin-right: 1.2rem;
      padding: 0.4rem 1.6rem;
      font-size: 1.6rem;
      letter-spacing: 0.7px; }
    .menu-slideout .menu-search-bar .search-submit {
      height: 4.2rem;
      min-width: 4.6rem;
      width: 4.6rem;
      background-size: 1.8rem; }
  .menu-slideout .menu-category > .menu-link, .menu-slideout .menu-subcategory > .menu-link {
    letter-spacing: 0.8px; }
  .menu-slideout .menu-category {
    font-size: 2.2rem; }
    .menu-slideout .menu-category > .menu-link {
      padding: 2.1rem 1rem 1.6rem 2.9rem;
      height: 3.2rem;
      margin-left: -200rem;
      padding-left: 202.9rem; }
      .menu-slideout .menu-category > .menu-link:after {
        top: 0.6rem;
        right: 3.2rem;
        width: 1rem;
        height: 1rem;
        font-size: 3.8rem; }
    .menu-slideout .menu-category.open > .menu-link:after {
      right: 3.1rem; }
    .menu-slideout .menu-category.open .menu-subcategory > .menu-link {
      font-size: 2.2rem;
      padding: 0.9rem 1rem 1.1rem 2.8rem;
      margin-left: -200rem;
      padding-left: 202.8rem;
      height: 2.8rem; }
      .menu-slideout .menu-category.open .menu-subcategory > .menu-link:after {
        top: 2.1rem;
        right: 3rem;
        height: 0.9rem;
        width: 0.9rem; }
  .menu-slideout .menu-footer {
    margin-left: -200rem;
    padding-left: 200rem; }
    .menu-slideout .menu-footer.fixed {
      position: absolute;
      right: 0;
      bottom: 0; }
  .menu-slideout .menu-social {
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    margin-right: 1.2rem; }
    .menu-slideout .menu-social li {
      height: 3.1rem;
      width: 3.1rem;
      padding-left: 0.8rem; } }

@media screen and (min-width: 1281px) {
  .scroll-initiated.extended .menu-wrapper {
    padding-right: 0.6rem;
    box-shadow: inset -6px 0 #000; } }

.scroll-initiated .cursors,
.scroll-initiated .nicescroll-cursors {
  width: 0.5rem;
  background: #000;
  border-radius: 0;
  border: none;
  opacity: 1; }

.scroll-initiated .rails,
.scroll-initiated .nicescroll-rails {
  background: #fff;
  border: 1px solid #000;
  width: 0.8rem;
  opacity: 1; }

.cart-slideout.open .cart-wrapper {
  transform: translateX(0); }

.cart-slideout .cart-wrapper {
  transition: all 600ms ease-in-out;
  transform: translateX(100%);
  border-left: 2px solid #000;
  border-bottom: 2px solid #000; }

.cart-slideout .cart-icon {
  position: relative;
  margin: 0;
  width: 3.6rem;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  top: 1.2rem;
  right: 0.8rem; }
  .cart-slideout .cart-icon .icon {
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 3rem;
    height: 2.5rem;
    z-index: 0; }
  .cart-slideout .cart-icon .items {
    position: absolute;
    top: 0;
    left: -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #fff;
    color: #000;
    font-size: 1.3rem;
    font-family: "Rajdhani Medium";
    text-align: center;
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
    z-index: 100; }

.cart-slideout .cart-products {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.cart-slideout .cart-product {
  border-bottom: 1px solid #b1b1b1;
  background: #fff; }
  .cart-slideout .cart-product .remove,
  .cart-slideout .cart-product .subtract,
  .cart-slideout .cart-product .add {
    font-family: "Rajdhani Semibold";
    color: #292929;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2rem;
    border: 2px solid #010202;
    padding: 0;
    line-height: 1.8rem;
    cursor: pointer;
    transition: all 300ms;
    opacity: 1; }
    .cart-slideout .cart-product .remove:hover,
    .cart-slideout .cart-product .subtract:hover,
    .cart-slideout .cart-product .add:hover {
      opacity: 0.9; }

.cart-slideout .cart-product-wrapper {
  height: 11.8rem;
  max-height: 11.8rem;
  display: grid;
  grid-gap: 1.3rem;
  grid-template: auto 3.4rem/6.6rem 1fr minmax(7.5rem, 20%);
  padding-right: 1.5rem; }

.cart-slideout .cart-product-image {
  height: 11.8rem;
  max-width: 6.6rem;
  grid-row: 1 / 3;
  grid-column: 1 / 2; }
  .cart-slideout .cart-product-image .image {
    width: 100%;
    max-width: 6.6rem; }

.cart-slideout .cart-product-details {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column; }

.cart-slideout .cart-product-name {
  font-size: 1.8rem;
  text-transform: none;
  line-height: 1.15;
  font-family: "Rajdhani Bold";
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  margin-bottom: 0.5rem; }
  .cart-slideout .cart-product-name a {
    color: #000; }

.cart-slideout .cart-product-colors .color {
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer; }
  .cart-slideout .cart-product-colors .color.black {
    background: #000; }

.cart-slideout .cart-remove-item {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  position: relative;
  margin-top: 1.3rem; }
  .cart-slideout .cart-remove-item .remove {
    position: absolute;
    top: 0;
    right: 0; }

.cart-slideout .cart-counter {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 10.7rem; }
  .cart-slideout .cart-counter .add,
  .cart-slideout .cart-counter .subtract {
    font-size: 2.4rem; }
  .cart-slideout .cart-counter .subtract {
    margin-right: 0.4rem;
    padding-top: 0.1rem; }
  .cart-slideout .cart-counter .quantity {
    border: none;
    background: #b1b1b1;
    margin-right: 0.3rem;
    width: 4rem;
    height: 2rem;
    text-align: center;
    font-size: 1.7rem;
    transition: all 300ms; }
    .cart-slideout .cart-counter .quantity:hover, .cart-slideout .cart-counter .quantity:focus {
      border-radius: 0;
      border: none;
      outline: none;
      background: #bebebe; }

.cart-slideout .cart-price {
  font-size: 2rem;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  text-align: right;
  margin: 0;
  margin-top: 0.1rem; }

.cart-slideout .cart-total {
  display: flex;
  height: 5rem;
  background: #dcdcdc;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3rem; }

.cart-slideout .cart-label, .cart-slideout .cart-total-price {
  font-size: 1.7rem;
  margin: 0; }

.cart-slideout .cart-label {
  font-family: "Rajdhani Semibold";
  letter-spacing: 0.3px; }

.cart-slideout .cart-total-price {
  letter-spacing: 1px; }

.cart-slideout .cart-navigation {
  margin: 0;
  height: 8.6rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background: #000; }
  .cart-slideout .cart-navigation .secondary,
  .cart-slideout .cart-navigation .primary {
    border: none;
    height: 100%;
    font-size: 2rem;
    font-family: "Rajdhani Bold";
    text-transform: uppercase;
    overflow-wrap: break-word;
    letter-spacing: 0.8px;
    line-height: 1.1;
    min-width: 16rem;
    width: 50%;
    padding: 1.3rem;
    cursor: pointer;
    transition: all 300ms; }
  .cart-slideout .cart-navigation .secondary {
    color: #b1b1b1;
    background: #fff; }
  .cart-slideout .cart-navigation .primary {
    color: #fff;
    background: #000;
    position: relative;
    padding-right: 3.5rem; }
    .cart-slideout .cart-navigation .primary:after {
      content: '';
      position: absolute;
      right: 1.3rem;
      margin: 0.4rem;
      margin-right: 0.7rem;
      width: 1.2rem;
      height: 1.2rem;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      transform: rotate(45deg); }

@media screen and (min-width: 768px) {
  .cart-slideout .cart-wrapper {
    width: 320px;
    right: 0;
    left: auto; }
  .cart-slideout .cart-icon {
    right: 1.2rem;
    top: 0.5rem; } }

@media screen and (min-width: 1281px) {
  .cart-slideout .cart-wrapper {
    width: 44.2rem;
    margin-right: -200rem;
    padding-right: 200rem; }
  .cart-slideout .cart-header {
    margin-right: -200rem;
    padding-right: 202.5rem;
    display: flex;
    justify-content: space-between; }
  .cart-slideout .cart-title {
    padding-left: 0.8rem;
    letter-spacing: 1.6px; }
  .cart-slideout .cart-icon {
    width: 4.6rem;
    margin-left: 2.8rem;
    position: relative;
    top: 0.7rem;
    right: -0.6rem; }
    .cart-slideout .cart-icon .icon {
      width: 3.5rem;
      height: 2.9rem; }
    .cart-slideout .cart-icon .items {
      font-size: 1.6rem;
      padding-top: 0;
      width: 2.3rem;
      height: 2.3rem;
      top: -0.1rem;
      left: -0.3rem; }
  .cart-slideout .cart-content {
    margin-right: -200rem;
    padding-right: 200rem; }
  .cart-slideout .cart-products {
    max-height: 47.6rem;
    height: 47.6rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: -200rem;
    padding-right: 200rem; }
  .cart-slideout .cart-product {
    margin-right: -200rem;
    padding-right: 200rem; }
    .cart-slideout .cart-product .remove,
    .cart-slideout .cart-product .subtract,
    .cart-slideout .cart-product .add {
      width: 2.8rem;
      height: 2.6rem;
      font-size: 2.2rem;
      text-align: center; }
  .cart-slideout .cart-product-wrapper {
    grid-gap: 1.3rem;
    grid-template: auto 3.4rem / 6.6rem 1fr 10.7rem;
    margin-right: -200rem;
    padding-right: 202.5rem; }
  .cart-slideout .cart-product-name {
    font-size: 2.2rem;
    line-height: 1.2;
    padding-top: 0.9rem;
    letter-spacing: 1.4px;
    margin-bottom: 0.5rem; }
  .cart-slideout .cart-product-colors .color {
    width: 2.3rem;
    height: 2.2rem;
    margin-right: 0.4rem; }
    .cart-slideout .cart-product-colors .color.black {
      background: #000; }
  .cart-slideout .cart-remove-item {
    margin-top: 0; }
    .cart-slideout .cart-remove-item .remove {
      top: 0.9rem;
      right: 0.3rem; }
  .cart-slideout .cart-counter .subtract {
    margin-right: 0.4rem; }
  .cart-slideout .cart-counter .quantity {
    height: 2.4rem;
    font-size: 2.4rem; }
  .cart-slideout .cart-price {
    font-size: 2.4rem;
    margin-right: 0.3rem; }
  .cart-slideout .cart-total {
    margin-right: -200rem;
    padding-right: 202.5rem;
    padding-left: 1.4rem; }
  .cart-slideout .cart-label, .cart-slideout .cart-total-price {
    font-size: 2.2rem; }
  .cart-slideout .cart-label {
    margin-bottom: 0.3rem; }
  .cart-slideout .cart-total-price {
    margin-right: 0.4rem; }
  .cart-slideout .cart-navigation {
    margin-right: -200rem;
    padding-right: 202.5rem; }
    .cart-slideout .cart-navigation .secondary,
    .cart-slideout .cart-navigation .primary {
      font-size: 2.6rem;
      padding: 0.8rem 2.1rem 0.7rem 1rem; }
    .cart-slideout .cart-navigation .secondary {
      width: 22.2rem; }
    .cart-slideout .cart-navigation .primary {
      width: 19.5rem;
      padding-right: 4.7rem; }
      .cart-slideout .cart-navigation .primary:after {
        right: 0;
        margin-top: 0.5rem; } }
