// Main section
.main {
  width: 100%;
  @include fitWithin($max-content-width);

  .heading {
    padding-top: 0;
    padding-left: $mobile-gutter;
    margin-bottom: 2.2rem;
    margin-right: $mobile-gutter;

    text-align: center;

    h2,
    h3 {
      font-size: 1.7rem;
      letter-spacing: 1px;
      color: $text-dark-ish;
      position: relative;
      display: inline;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0.5rem;
        width: 4.2rem;
        height: 0.7rem;
      }

      &::before {
        left: -5.2rem;
        background-image: url('img/arrow-left.svg');
      }

      &::after {
        right: -5.2rem;
        background-image: url('img/arrow-right.svg');
      }
    }
  }

  @include screenSize($tablet) {
    .heading {
      margin-bottom: 1.5rem;

      h2 {
        font-size: 2rem;
        letter-spacing: 0.3px;
        margin-left: -1rem;

        &::before,
        &::after {
          top: 0.4rem;
          width: 5.7rem;
          height: 1.1rem;
        }

        &::before {
          left: -7.7rem;
        }

        &::after {
          // Inconsistent values in mockup
          right: -7.3rem;
        }
      }
    }
  }

  @include screenSize($desktop) {
    // width: auto;
    .heading {
      margin-bottom: 1.9rem;

      h2,
      h3 {
        font-size: 2.4rem;
        margin-left: -0.5rem;

        &::before,
        &::after {
          top: 0.5rem;
          width: 6.8rem;
          height: 1.2rem;
        }

        &::before {
          left: -9.2rem;
        }

        &::after {
          // Inconsistent values in mockup
          right: -8.8rem;
        }
      }
    }
  }
}

// Products
.products {
  width: 100%;
  margin-bottom: 4.2rem;

  .heading {
    margin-bottom: 1rem;
  }

  .products-slider {
    padding-left: 0.6rem;
    width: 100%;
    display: flex;
    margin-left: -26.4rem;
  }

  .product {
    transition: opacity $duration-default;
    margin-right: 0.7rem;
    margin-left: 0.6rem;
    min-width: 15.5rem;

    &.discount .product-image {
      &::before {
        content: '';
        top: 0;
        left: -0.5rem;
        display: block;
        position: absolute;
        width: 5.5rem;
        height: 7.7rem;
        background-image: url('img/ribbon.png');
      }

      &::after {
        content: '20%';
        display: block;
        position: absolute;
        top: 1.8rem;
        left: 0.2rem;
        font-family: $font-bold;
        letter-spacing: 1px;
        font-size: 1.7rem;
        color: $text-light;
        transform: rotate(-45deg);
      }
    }
  }

  .product-image {
    position: relative;
    width: 100%;
    height: 27.7rem;
    padding-top: 1.4rem;

    .image {
      height: 27.7rem;
      width: auto;
    }
  }

  .buy {
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-semibold;
    color: $text-light;
    font-size: 1.6rem;
    padding: 0.8rem 0;
    height: 2rem;
    background: rgba(0, 0, 0, 0.66);
  }

  .price {
    text-align: center;
    p {
      padding: 0 0.8rem;
      margin-top: 0;
      margin-bottom: 0;
    }

    .old-price {
      font-size: 1.5rem;
      color: $text-grey;
      text-decoration: line-through;
      height: 1.8rem;
    }

    .new-price {
      margin-top: -0.2rem;
      font-size: 1.7rem;
      font-family: $font-semibold;
    }
  }

  @include screenSize($tablet) {
    margin-bottom: 1.3rem;
    .heading {
      margin-bottom: 0.1rem;
    }
    .product {
      margin-right: 0.6rem;
    }
  }

  @include screenSize($desktop) {
    width: 100%;
    margin-bottom: 6.8rem;

    .heading {
      margin-bottom: 0.5rem;
    }

    .products-slider {
      padding-left: 1.5rem;
      margin-left: 0;
    }

    .product {
      // TODO get rid of min in min-width,
      min-width: 18.5rem;
      margin-right: 0.8rem;
      margin-left: 0.7rem;

      &.discount .product-image {
        &::before,
        &::after {
          // FixIt: According to the mockup, discounts don't display on wide screen
          display: none;
        }
      }
    }

    .product-image {
      &,
      & .image {
        height: 33rem;
      }
    }

    .price {
      p {
        padding-top: 0.4rem;
      }

      .old-price {
        text-decoration: none;
        font-size: 1.4rem;
      }

      // FixIt: According to the mockup, discounts don't display on wide screen
      .new-price {
        display: none;
      }
    }
  }
}

// Categories
.categories {
  margin-bottom: 1.9rem;
  padding-top: 6.4rem;
  text-align: center;

  &:before {
    margin: auto;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    width: 12.9rem;
    height: 3rem;
    background-image: url('img/header-figure.svg');
  }

  .categories-grid {
    display: grid;
    column-gap: $mobile-gutter;
    row-gap: $mobile-gutter - 0.1rem;
    padding-left: $mobile-gutter;
    margin-right: $mobile-gutter + 0.1rem;
  }

  .category {
    margin: 0;
    padding: 0;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .category-link,
  .category {
    display: flex;
    width: 100%;
  }

  .category-image {
    width: 100%;
    object-fit: cover;
  }

  .category-label {
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: $font-semibold;
    font-size: 2rem;
    letter-spacing: 2.5px;
    color: $text-light;
    text-shadow: 0 3px 1px $text-dark;
    position: absolute;
  }

  @include screenSize($tablet) {
    padding-top: 5.9rem;
    display: grid;
    margin-bottom: 2.9rem;

    .categories-grid {
      // No distinct pattern in numbers, just following the mockup
      // grid-template: repeat(3, 26.4rem) / 26.5rem 7.5rem 8.9rem 24.9rem;
      grid-template: repeat(3, 26.4rem) / 36.2% 10.2% 12.2% 1fr;
      column-gap: $tablet-gutter;
      row-gap: $tablet-gutter - 0.2rem;
      padding-left: $tablet-gutter;
      margin-right: $tablet-gutter;
    }

    .category {
      &:nth-child(1) {
        grid-column: 1 / 3;
      }
      &:nth-child(2) {
        grid-column: 3 / 5;
      }
      &:nth-child(3) {
        grid-column: 1 / 4;
      }
      &:nth-child(4) {
        grid-column: 4 / 5;
      }
      &:nth-child(5) {
        grid-column: 1 / 2;
      }
      &:nth-child(6) {
        grid-column: 2 / 5;
      }
    }

    .category-label {
      letter-spacing: 4px;
    }
  }

  @include screenSize($desktop) {
    padding-top: 7.4rem;
    margin-bottom: 6.6rem;

    &:before {
      width: 15.9rem;
      height: 3.6rem;
    }

    .categories-grid {
      // No distinct pattern in numbers, just following the mockup
      grid-template: repeat(3, 44.6rem) / 44.6rem 12.8rem 15.4rem 41.9rem;
      column-gap: $desktop-gutter - 0.2rem;
      row-gap: $desktop-gutter - 0.3rem;
      padding-left: 0;
      margin-right: 0;
    }

    .category-label {
      font-size: 3.4rem;
      letter-spacing: 5.4px;
    }
  }
}

// Instagram gallery
.instagram {
  // Inconsistent values in mockup
  margin-bottom: 2.4rem;

  .heading {
    // Inconsistent values in mockup
    margin-bottom: 2.5rem;
  }

  .gallery {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 0.6rem;
  }

  .photo {
    width: 13.3rem;
    height: 13.3rem;
    padding-left: 0.7rem;
    margin-right: 0.7rem;
    transition: opacity $duration-default;
  }

  .likes {
    display: none;
  }

  .insta-image {
    width: 100%;
  }

  @include screenSize($tablet) {
    margin-bottom: 1.8rem;

    .heading {
      margin-left: -0.5rem;
      margin-bottom: 1.7rem;
    }

    .gallery {
      width: 100%;
    }

    .photo {
      width: 13.5rem;
      height: 13.5rem;
      padding-left: 1.2rem;
      margin-right: 0.2rem;
    }
  }

  @include screenSize($desktop) {
    margin-bottom: 4.6rem;

    .heading {
      margin-left: 0.2rem;
      margin-bottom: 3.3rem;

      h3 {
        letter-spacing: 0.6px;
      }
    }

    .gallery {
      // display: block;

      // FixIt: Probably, should switch to display: block
      justify-content: center;
      padding-left: 0;
    }

    .photo {
      width: 22.6rem;
      height: 22.6rem;
      padding-left: 0;
      margin-right: 2.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Customers
.customers {
  // Inconsistent values in mockup
  margin-bottom: 2.4rem;

  .heading {
    // Inconsistent values in mockup
    margin-bottom: 1.4rem;
  }

  .customer-cards {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 0.5rem;
  }

  .customer {
    width: 17rem;
    height: 17rem;
    padding-left: 0.8rem;
    margin-right: 0.9rem;
  }

  .customer-image {
    width: 100%;
  }

  .customer-overlay {
    display: none;
  }

  @include screenSize($tablet) {
    margin-bottom: 0.1rem;

    .heading {
      margin-left: -0.5rem;
      margin-bottom: 1.7rem;
    }

    .customer-cards {
      width: 100%;
      justify-content: center;
      // padding-left: 0.5rem;
    }

    .customer {
      flex-grow: 1;
      min-width: 17rem;
      min-height: 17rem;
      width: 100%;
      height: auto;
      max-width: 28.5rem;
      max-height: 28.5rem;
      padding-left: 1.3rem;
      margin-right: 0.4rem;

      &:last-child {
        margin-right: 2.4rem;
      }
    }
  }

  @include screenSize($desktop) {
    margin-bottom: 4.1rem;

    .heading {
      margin-left: 0.3rem;
      margin-bottom: 3.1rem;
    }

    .customer-cards {
      // Switch to block or grid
      padding-left: 0;
      justify-content: space-between;
    }

    .customer {
      width: 28.5rem;
      height: 28.5rem;
      padding-left: 0;
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
