///////////////////
// Common mixins //
///////////////////

// Alias for @media created with assumption
// that complexity is going to increase
@mixin screenSize($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Sets block element's max-width and centers it horizontally
@mixin fitWithin($width) {
  max-width: $width;
  margin: 0 auto;
}

////////////////////
// Above the fold //
////////////////////

@mixin messageBullet() {
  margin: 0 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  border: 0.5px solid $bg-dark;
  background: $light-grey;
  border-radius: 50%;

  &.active {
    background: $bullet-active;
  }
}

@mixin sliderBullet() {
  margin: 0 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  border: 0.5px solid $bullet-border;
  background: $bg-light;
  border-radius: 50%;

  &.active {
    background: $bullet-active;
  }
}

@mixin sliderBulletTablet() {
  border: 0px solid $bg-light;
  margin: 0 0.2rem 0 0.3rem;
}

@mixin sliderBulletDesktop() {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 0.4rem 0 0.3rem;
}

@mixin cartIconMobile() {
  position: relative;
  margin: 0;
  width: 3.6rem;

  .icon {
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: 3rem;
    height: 2.5rem;
    z-index: 0;
  }

  .items {
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    margin: 0;
    padding-top: 0.1rem;
    background: $bg-light;
    color: $text-dark;
    font-size: 1.3rem;
    font-family: $font-medium;
    text-align: center;
    border-radius: 50%;
    width: 1.9rem;
    height: 1.9rem;
    z-index: 100;
  }
}

@mixin cartIconDesktop() {
  width: 4.6rem;
  margin-left: 2.8rem;

  .icon {
    width: 3.5rem;
    height: 2.9rem;
  }

  .items {
    font-size: 1.6rem;
    padding-top: 0;
    width: 2.3rem;
    height: 2.3rem;
    top: -0.2rem;
    left: -0.3rem;
  }
}

//////////////////
// Main section //
//////////////////

// Sets <a> elements to show background overlay on mouseover
@mixin imageLinkHover($opacity) {
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
    transition: background 300ms;
    z-index: 2;
  }

  &:hover {
    &:before {
      background: rgba(0, 0, 0, $opacity);
    }
  }
}

// Sets div as a hidden overlay text.
// To show set element’s opacity to 1;

@mixin hiddenOverlay() {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  transition: opacity $duration-default;
  z-index: 10;
}

// Text overlay
@mixin overlayFont() {
  font-family: $font-semibold;
  letter-spacing: 0.5px;
  color: $text-light;
}

///////////////////
// Menu and Cart //
///////////////////

// Elongates menu items from their left edge
// to the edge of the screen
@mixin stickToLeftEdge($padding) {
  margin-left: -200rem;
  padding-left: 200rem + $padding;
}

// Elongates cart items from their right edge
// to the edge of the screen
@mixin stickToRightEdge($padding) {
  margin-right: -200rem;
  padding-right: 200rem + $padding;
}

// Positioning for menu containers
@mixin menuContainerPositioning() {
  position: absolute;
  left: 0;
  right: 0;
  top: $menu-top-tablet;
  // Added space for bottom border
  height: $menu-max-height + 0.2rem;
  overflow: hidden;
  z-index: 1000;
}

// Common styles related to animation (container elements)
@mixin menuContainerAnimation() {
  opacity: 0;
  transition: opacity $duration-menu-overlay;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

// Common styles related to animation (menu itself)
@mixin menuAnimation($slide-width) {
  transition: all $duration-menu-slide;
  transform: translateX($slide-width);
}

// Positioning for menus
@mixin menuPositioning($direction) {
  position: absolute;
  @if $direction == left {
    right: 0;
  } @else if $direction == right {
    left: 0;
  }
  width: $menu-width-tablet;
  z-index: 1;
}

// Assembles most common styles together
@mixin setMenu($direction) {
  &-wrapper {
    @include menuPositioning($direction);
    @if $direction == left {
      border-left: 2px solid $bg-dark;
      @include menuAnimation(100%);
    } @else if $direction == right {
      border-right: 2px solid $bg-dark;
      @include menuAnimation(-100%);
    }
    border-bottom: 2px solid $bg-dark;
    text-transform: uppercase;
  }

  &-header {
    background: $bg-dark;
    color: $text-light;
    position: relative;
    height: 3.8rem;
  }

  &-title {
    font-size: 1.7rem;
    margin: 0;
    padding-left: 1.5rem;
    padding-top: 0.6rem;
    letter-spacing: 0.6px;
    font-family: $font-medium;
  }
}
