// Catalog menu
.menu-slideout {
  // Starts slide animation when class '.open' is added
  &.open {
    .menu-wrapper {
      transform: translateX(0);
    }
  }

  // Pseudo-style, expands to .cart-wrapper, .cart-header, .cart-title etc.
  .menu {
    // Borders + translateX
    @include setSidenavLeft();

    &-search-bar,
    &-catalog {
      padding-left: 1.3rem;
    }

    &-header {
      .close {
        display: block;
        position: absolute;
        top: -0.2rem;
        right: 0.5rem;
        border: none;
        background: none;
        font-size: 5.2rem;
        color: $text-light;
        opacity: 1;
        transition: opacity $duration-default;
        @include notDraggable();
      }
    }

    &-title {
      padding-left: 1.5rem;
    }

    &-search-bar {
      height: 4.8rem;
      background: $menu-grey;

      .search {
        padding: 0.6rem;
        margin-right: 0.6rem;
        display: flex;
        justify-content: space-between;
      }

      .search-field {
        border: none;
        height: 2.8rem;
        width: 100%;
        margin-right: 0.6rem;
        padding: 0.3rem 1.2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $text-menu-grey;
        letter-spacing: 0.4px;
      }

      .search-submit {
        border: none;
        background: $bg-dark;
        height: 3.4rem;
        min-width: 3.8rem;
        width: 3.8rem;
        background-image: url('img/icon-search.svg');
        background-size: 1.7rem;
        background-repeat: no-repeat;
        background-position: 50% 45%;
        @include menuButtonHover();
      }
    }

    &-catalog,
    &-submenu,
    &-social {
      list-style-type: none;
      font-size: 1.8rem;
      line-height: 1.5;
      margin: 0;
      padding: 0;
    }

    &-category,
    &-subcategory {
      & > .menu-link {
        font-family: $font-medium;
        display: block;
        letter-spacing: 0.3px;
        position: relative;

        &:after {
          display: block;
          position: absolute;
        }
      }
    }

    &-category {
      & > .menu-link {
        padding: 1rem;
        padding-left: 2.6rem;
        height: 2.2rem;
        background: $bg-light;
        color: $text-menu-dark;
        border-bottom: 1px solid $menu-grey;

        &:after {
          content: '+';
          right: 2.8rem;
          top: 0.1rem;
          width: 1rem;
          height: 1rem;
          font-size: 2.8rem;
        }
      }

      .menu-submenu {
        transition: opacity $duration-menu-accordion;
        opacity: 0;
      }

      &.open {
        .menu-submenu {
          opacity: 1;
        }

        // Accordion animation
        .menu-subcategory {
          & > .menu-link {
            padding: 0.6rem 1rem 1.1rem 3.4rem;
            height: 2rem;
            font-size: 1.8rem;
            border-bottom: 1px solid $bg-light;

            &:after {
              content: '';
            }
          }

          &:last-child {
            & > .menu-link {
              border-bottom: 1px solid $menu-grey;
            }
          }
        }

        & > .menu-link:after {
          content: '–';
          right: 2.7rem;
        }
      }
    }

    &-subcategory {
      & > .menu-link {
        background: $bg-dark;
        color: $text-menu-light;
        border: none;
        font-size: 0;
        padding: 0;
        height: 0;
        transition: all ease $duration-default;

        &:after {
          top: 1.5rem;
          right: 2rem;
          height: 0.8rem;
          width: 0.8rem;
          border-right: 0.2rem solid $text-menu-light;
          border-top: 0.2rem solid $text-menu-light;
          transform: rotate(45deg);
        }
      }
    }

    &-footer {
      background: $bg-light;
      width: 100%;
      display: flex;
      box-shadow: 0 -1px $menu-grey;
      justify-content: flex-end;
      align-items: center;
    }

    &-social {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      margin-right: 1.3rem;
      height: 3.4rem;

      @include notDraggable();

      li {
        height: 2.5rem;
        width: 2.5rem;
        padding-left: 0.7rem;
      }

      a {
        color: $text-light;
      }
    }
  }

  @include screenSize($tablet) {
    .menu {
      &-wrapper {
        left: 0;
        right: auto;
      }

      &-header {
        .close {
          opacity: 0;
          top: -1.3rem;
          right: -0.4rem;
          font-size: 7rem;
        }
      }

      &-title {
        padding-left: 1.4rem;
      }

      &-footer {
        height: $menu-footer-height-tablet;
        min-height: $menu-footer-height-tablet;
      }

      &-social {
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        margin-right: 1.5rem;
      }
    }
  }

  @include screenSize($desktop) {
    .menu {
      &-wrapper {
        // Fits menu to screen edge
        @include stickToLeftEdge();
      }

      &-header {
        // Fits menu to screen edge
        @include stickToLeftEdge(1.3rem);

        .close {
          opacity: 1;
          top: 0;
          right: -0.4rem;
          font-size: 7rem;
          line-height: $menu-header-height-desktop;
          max-height: $menu-header-height-desktop;
        }
      }

      &-title {
        padding-left: 1.8rem;
      }

      &-content {
        @include stickToLeftEdge();
        max-height: $menu-max-height-desktop - $menu-header-height-desktop;
        height: $menu-max-height-desktop - $menu-header-height-desktop;
        overflow-y: auto;
      }

      &-search-bar {
        height: 6rem;
        @include stickToLeftEdge(1.3rem);

        .search {
          padding-top: 0.8rem;
          margin-right: 0.3rem;
        }

        .search-field {
          height: 3.4rem;
          margin-right: 1.2rem;
          padding: 0.4rem 1.6rem;
          font-size: 1.6rem;
          letter-spacing: 0.7px;
        }

        .search-submit {
          height: 4.2rem;
          min-width: 4.6rem;
          width: 4.6rem;
          background-size: 1.8rem;
        }
      }

      &-category,
      &-subcategory {
        & > .menu-link {
          letter-spacing: 0.8px;
        }
      }

      &-category {
        font-size: 2.2rem;
        & > .menu-link {
          padding: 2.1rem 1rem 1.6rem 2.9rem;
          height: 3.2rem;
          @include stickToLeftEdge(2.9rem);

          &:after {
            top: 0.6rem;
            right: 3.2rem;
            width: 1rem;
            height: 1rem;
            font-size: 3.8rem;
          }
        }

        &.open {
          .menu-submenu {
          }
          & > .menu-link:after {
            right: 3.1rem;
          }
          // Accordion animation
          .menu-subcategory {
            & > .menu-link {
              font-size: 2.2rem;
              padding: 0.9rem 1rem 1.1rem 2.8rem;
              @include stickToLeftEdge(2.8rem);
              height: 2.8rem;

              &:after {
                top: 2.1rem;
                right: 3rem;
                height: 0.9rem;
                width: 0.9rem;
              }
            }
          }
        }
      }

      &-footer {
        @include stickToLeftEdge();
        &.fixed {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      &-social {
        padding-top: 0.5rem;
        padding-bottom: 0.7rem;
        margin-right: 1.2rem;
        li {
          height: 3.1rem;
          width: 3.1rem;
          padding-left: 0.8rem;
        }
      }
    }
  }
}
