// Above the fold
.above {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;

  // Same as @media (min-width: 768px)
  @include screenSize($tablet) {
    margin-bottom: 1.9rem;
  }

  // Same as @media (min-width: 1281px)
  @include screenSize($desktop) {
    margin-bottom: 3rem;
  }
}

// Header
.navigation {
  order: 1;
  height: 5rem;
  background: $bg-dark;
  width: 100%;

  .page-header {
    @include fitWithin($max-content-width);
    padding: 1.2rem 0 0 $mobile-gutter;
    height: 3.7rem;
    display: flex;
    justify-content: space-between;
    color: $text-light;
  }

  .page-title {
    margin: 0;
    margin-top: -1.1rem;
    letter-spacing: -1.5px;
    font-family: $font-bold;
    font-size: 3rem;
  }

  .menu-icon {
    display: block;
    width: 2.6rem;
    height: 2.6rem;
  }

  .user-menu {
    margin-right: 0.9rem;
    min-width: 3.6rem;
    display: flex;
  }

  .login {
    display: none;
  }

  .cart-icon {
    @include cartIconMobile();
  }

  @include screenSize($tablet) {
    order: 3;
    height: 3.8rem;

    .page-header {
      padding: 0.5rem 0 0.7rem 1.2rem;
      position: relative;
      text-align: center;
    }

    .page-title {
      margin-left: 4rem;
      margin-right: 5.4rem;
      width: 100%;
    }

    .menu-icon {
      position: absolute;
    }

    .user-menu {
      margin-right: 1.2rem;
      position: absolute;
      right: 0;
      top: 0.5rem;
    }

    .login {
      display: block;
      color: white;
      text-transform: uppercase;
      font-size: 2.2rem;
      font-family: 'Rajdhani Medium';
      margin-top: -0.5rem;
      letter-spacing: 1px;
    }

    .cart-icon {
      margin-left: 2rem;
    }
  }

  @include screenSize($desktop) {
    height: 4.6rem;

    .page-header {
      padding: 0;
      padding-top: 1.1rem;
    }

    .menu-icon {
      margin-top: -0.2rem;
      width: 3rem;
      height: 3rem;
    }

    .page-title {
      margin-left: 16rem;
      margin-right: 16rem;
    }

    .user-menu {
      margin-right: -0.9rem;
      top: 0.7rem;
    }

    .login {
      font-size: 2.6rem;
      letter-spacing: 1.5px;
    }

    .cart-icon {
      @include cartIconDesktop();
    }
  }
}

// Messages & delivery information
.messages {
  order: 2;
  width: 100%;
  background: $light-grey;
  height: 2rem;

  .messages-wrapper {
    @include fitWithin($max-content-width);
    position: relative;
  }

  .message {
    font-family: $font-medium;
    color: $text-light;
    text-align: center;
    letter-spacing: 0.4px;
    width: 100%;
    font-size: 1.4rem;
  }

  .three-dots {
    display: none;
  }

  .bullet {
    @include messageBullet();
  }

  @include screenSize($tablet) {
    order: 1;
    height: 1.4rem;

    .message {
      .font-bold {
        font-size: 1.3rem;
      }

      margin-top: -0.3rem;
      margin-left: -0.5rem;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      padding: 0;
    }
  }

  @include screenSize($desktop) {
    height: 1.6rem;

    .message {
      margin-top: -0.1rem;
    }

    .three-dots {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0.4rem 0;
      margin-right: -0.2rem;
      padding: 0;
      list-style-type: none;
    }
  }
}

// Promotions section
.hero {
  order: 3;

  .promotions-slider {
    height: 19.5rem;
    overflow: hidden;

    // Hide all inactive promotions
    .promo {
      display: none;
      position: relative;
      height: 19.5rem;

      // Show just the first promo until Slick is initialized
      &:first-child {
        display: block;
      }
    }
  }

  .promo-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .promo-caption,
  .bullets {
    position: absolute;
    background: none;
  }

  .promo-caption {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -0.5rem;
    justify-content: center;
    height: 100%;
    left: 25%;
    margin-left: -6.7rem;

    .promo-title,
    .promo-subhead {
      color: $text-dark;
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    .promo-title {
      border-bottom: 1px solid $text-dark;
      margin-bottom: 0.4rem;
      padding-bottom: 0.3rem;
      font-size: 1.4rem;
      letter-spacing: 0.4px;
    }

    .promo-subhead {
      font-family: $font-monospace, monospace;
      letter-spacing: 0.5px;
      font-size: 1.1rem;
      margin-bottom: 1.2rem;
    }
  }

  .call-to-action {
    display: inline;
    color: $text-dark;
    text-transform: uppercase;
    font-family: $font-medium;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    border: 2px solid $text-dark;
    padding: 0.2rem 0.8rem;
  }

  // No Slick styles, check _layout_sliders.scss for overrides
  .bullets {
    padding: 0;
    margin: 0;
    bottom: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .bullet {
    display: none;
    @include sliderBullet();
  }

  .cover {
    width: 100%;
    height: 100%;

    // TODO: Export different backgrounds for each device size
    background-image: url('img/hero-cover-01.jpg');
    background-size: cover;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: 30% 70%;
    // background-position: 50% 50%;
  }

  @include screenSize($tablet) {
    order: 2;

    .promotions-slider {
      height: 45.8rem;
      .promo {
        height: 45.8rem;
      }
    }

    .promo-caption {
      top: 18rem;
      left: 4.8rem;
      left: 15%;
      margin-left: -6.6rem;
      justify-content: normal;
      height: auto;
      width: 20.5rem;

      .promo-title {
        font-size: 2.3rem;
        padding-bottom: 0.4rem;
        margin-bottom: 0.6rem;
      }

      .promo-subhead {
        font-size: 1.5rem;
        margin-bottom: 2.6rem;
      }
    }

    .call-to-action {
      margin-left: -1.2rem;
    }

    .bullets {
      bottom: 1.8rem;
      margin-right: 1rem;
    }

    .bullet {
      @include sliderBulletTablet();
    }

    .cover {
      background-position: 51.8% 0%;
      background-size: 137.9%;
    }
  }

  @include screenSize($desktop) {
    .promotions-slider {
      height: 70.6rem;
      .promo {
        height: 70.6rem;
      }
    }

    .promo-caption {
      top: 27.6rem;
      left: 23.6rem;
      margin-left: 0;
      width: 31.5rem;

      .promo-title {
        font-size: 3.5rem;
        margin-bottom: 0.9rem;
        padding-bottom: 0.7rem;
        border-bottom: 2px solid #000;
        letter-spacing: 1px;
      }

      .promo-subhead {
        font-size: 2.3rem;
        letter-spacing: 1px;
        margin-bottom: 3.8rem;
      }
    }

    .call-to-action {
      font-size: 2.5rem;
      padding: 0.4rem 1.3rem;
      margin-left: -2rem;
    }

    .bullets {
      margin-right: 0;
      bottom: 2.6rem;
    }

    .bullet {
      height: 1.7rem;
      width: 1.7rem;
      margin: 0 0.4rem 0 0.3rem;
    }

    .cover {
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
